h1, p {
  font-family: Lato;
}
#box1{
  width: 240px;
  margin: 2px;
  border: 2px solid lightblue;
  padding: 10px;
}
/*===form===*/
label{
  margin-right: 10px;
}
input{
  margin-top: 2px;
  margin-bottom: 2px;
}
/*===table===*/
table{
  font-family: lucida sans unicode,lucida grande,Sans-Serif;
  font-size: 12px;
  background: #fff;
  width: 200px;
  border-collapse: collapse;
  text-align: center;
  margin: 20px;
}
/*===header===*/
th{
  color: darkblue;
  padding: 3%;
  border-bottom: 2px solid lightblue;
}
/*row*/
tr:hover{background: lightblue;}
tr:not(:hover):nth-child(even){background: #EEE;}
/*data*/
td{
  color: #777;
  padding: 3%;
}
/*===footer===*/
tfoot{
  border-top: 2px solid lightblue;
  border-bottom: hidden;
}