<h1>Hello {{$ctrl.name}}!</h1>
<p></p>

<form>
	<label>Name:</label>
	<input type="text" ng-model="$ctrl.name"></br>
	<label>Age:</label>
	<input type="text" ng-model="$ctrl.age"></br>
	<input type="button" ng-click="$ctrl.addItem()" value="Add">
	<input type="button" ng-click="$ctrl.reset()" value="Reset">
</form>

<table>

	<!-- Table header -->

	<thead>
		<tr>
			<th scope="col" id="Place">Place</th>
			<th scope="col" id="Name">Name</th>
			<th scope="col" id="Age">Age</th>
		</tr>
	</thead>

	<!-- Table body -->

	<tbody>
		<tr ng-repeat="x in $ctrl.tableItems | orderBy : 'age'"">
      <td>{{ $index + 1 }}</td>
      <td>{{ x.name }}</td>
      <td>{{ x.age }}</td>
   </tr>
	</tbody>

	<!-- Table footer -->

	<tfoot>
		<tr>
			<td>Avg.</td>
			<td></td>
			<td>x</td>
		</tr>
	</tfoot>

</table>